<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

   <!-- body -->

   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->

      <!-- header -->
      <%- include('./partials/header.ejs') %>
      <!-- end header inner -->

         <!-- top -->
         <div class="full_bg bt_fe">
            <div class="slider_main">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="creative">
                           <h1>Best PHOTO GRAPHY STUDIO</h1>
                           <a class="read_more" href="contact">Contact Us</a>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <!-- carousel code -->
                        <div id="banner1" class="carousel slide">
                           <div class="container">
                              <div class="row d_flex">
                                 <div class="col-md-12">
                                    <div class="cemara text-center">
                                       <figure><img src="images/img.png" alt="#" /></figure>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end banner -->

         <!-- end footer -->
         <%- include('./partials/footer.ejs') %>
         <!-- end footer -->
   
         <!-- Javascript files-->
         <%- include('./partials/scripts.ejs') %>

   </body>

</html>